---
import docLargeIcon from "../assets/icons/doc-large.svg?raw";
import githubIcon from "../assets/icons/github-large.svg?raw";
import ContentCard from "../components/content-card.astro";
import Technologies from "../components/technologies.astro";
import { urls } from "../constants";
import GlobalLayout from "../layouts/global.astro";
import { Content } from "./index-content.md";
---

<GlobalLayout title="Hi I'm Luke">
	<Content />
	<Technologies />
	<hr />
	<div class="row gap-16 wrap">
		<ContentCard
			animateIcon={false}
			href={urls.github}
			linkExternal={true}
			linkLabel="Open Github"
			rawIcon={githubIcon}
			title="Got a Github?"
		/>
		<ContentCard
			href="/Portfolio/resume"
			linkLabel="View resume"
			rawIcon={docLargeIcon}
			title="Looking for something more official?"
		/>
	</div>
</GlobalLayout>
