---

---

<l-appearence-toggle>
	<button
		class="align-center button button-subtle col elevated-hover gap-4 justify-center"
	>
	</button></l-appearence-toggle
>

<script>
	import autoModeIcon from "../assets/icons/hybrid-fill.svg?raw";
	import darkModeIcon from "../assets/icons/moon-fill.svg?raw";
	import lightModeIcon from "../assets/icons/sun-fill.svg?raw";
	import { getCurrentSeason, getPreferences, setPreferences } from "../utils";

	type Appearence = "auto" | "dark" | "light";
	const prefersDark = window.matchMedia(
		"(prefers-color-scheme: dark)"
	).matches;

	const autoModeContent = `<span>${autoModeIcon}</span><span class="label">SYSTEM</span>`;
	const darkModeContent = `<span>${darkModeIcon}</span><span class="label">DARK</span>`;
	const lightModeContent = `<span>${lightModeIcon}</span><span class="label">LIGHT</span>`;

	const appearenceContentMap = {
		auto: autoModeContent,
		dark: darkModeContent,
		light: lightModeContent,
	};

	const appearenceOrder: Appearence[] = prefersDark
		? ["auto", "dark", "light"]
		: ["auto", "light", "dark"];

	class AppearenceToggle extends HTMLElement {
		connectedCallback() {
			const date = new Date();
			const currentSeason = getCurrentSeason(date);

			const styleRoot = document.getElementById("global-theme-root")!;
			const button = this.querySelector("button")!;
			const prefs = getPreferences();

			let appearence: Appearence = prefs.appearence || "auto";
			let toggleIndex = appearenceOrder.indexOf(appearence);

			button.innerHTML = appearenceContentMap[appearence];

			// Each time the button is clicked, update the count.
			button?.addEventListener("click", () => {
				toggleIndex = (toggleIndex + 1) % 3;

				const prefs = getPreferences();
				const theme = prefs.theme || currentSeason;
				appearence = appearenceOrder[toggleIndex];

				button.innerHTML = appearenceContentMap[appearence];

				styleRoot.setAttribute(
					"href",
					`/themes/${theme}-${appearence}.css`
				);

				setPreferences({
					appearence,
				});
			});
		}
	}
	customElements.define("l-appearence-toggle", AppearenceToggle);
</script>
